body {
	font: 150% Arial, Helvetica, sans-serif;
}
/* 150% do tamanho original "pai"  */


h1 {
	font: bold 100% Arial, Helvetica, sans-serif;
}

#pagina {
	padding: 5px;
    height: 50em;
    background-color: burlywood;
    border: solid 1px #ccc;
}

	
#pagina2 {
    padding: 5px;
    width: 50%;
    height: 70%;
	margin: 20px auto;
    background-color: burlywood;
    border: solid 1px #ccc;
}

@media screen and (max-width: 2000px) {

	#pagina{
        background-color: pink;
    }
    #pagina2{
        background-color: red;
    }

}

@media screen and (max-width: 1320) {

	#pagina{
        background-color: yellow;
    }
    #pagina2{
        background-color: green;
    }

}

@media screen and (max-width: 1100px) {

	#pagina{
        background-color: orangered;
    }
    #pagina2{
        background-color: yellow;
    }
}

@media screen and (max-width: 880px) {

	#pagina{
        background-color: purple;
    }
    #pagina2{
        background-color: yellow;
    }
}


@media screen and (max-width: 660px) {

	#pagina{
        background-color: pink;
    }
    #pagina2{
        background-color: orange;
    }
}


@media screen and (max-width: 440px) {

	#pagina{
        background-color: orange;
    }
    #pagina2{
        background-color: purple;
    }
}

@media screen and (max-width: 220px) {

	#pagina{
        background-color: blue;
    }
    #pagina2{
        background-color:black;
    }
}
